In [2]:
import pandas as pd

## Converting Dictionary to Series

In [6]:

dic = {"name":"tony", "age":19, "sex":"male"}
pd.Series(dic)["age"]

int

In [11]:
dic = ["tony", "harry", 22, 584696, "hi"]
pd.Series(dic)

0      tony
1     harry
2        22
3    584696
4        hi
dtype: object

In [21]:
pd.Series(dic, index = ["name", "name", "age", "ID", "hi"])[3]

584696

## DataFrame

In [26]:
dic = {"name":"tony", "age":19, "sex":"male"}
pd.DataFrame(dic, index=[0, "1", "2"])

   name  age   sex
0  tony   19  male
1  tony   19  male
2  tony   19  male

In [58]:
ls = ["tony", "harry", 22, 584696, "hi"]
df = pd.DataFrame(ls)
df.index = ["name","name","age","id","word"]
df.columns = ["element"]
df

     element
name    tony
name   harry
age       22
id    584696
word      hi

## Rename() index

In [117]:
exam_data = {"수학": [90,80,70], "영어": [98,89,95], "음악": [85,95,100], "체육":[100,90,80]}
df = pd.DataFrame(exam_data).rename(index={0:"서준", 1: "우현",2:"인아"})
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   80

## Drop() index & row

In [111]:
dropped = df.drop("인아", axis=0)
dropped

engsci = pd.DataFrame({"ECON": [1,2,3], "PHYSICS":[1,3,2], "BIOLOGY":[2,1,3], 
                       "SOCIOLOGY":[2,3,1], "ELECTROMAGNETISM":[3,1,2], "STATISTICS": [3,2,1]}).rename({0:"Tony", 1:"Don", 2:"Shahriyar"})
print(engsci)
print("\n")

engsci_econ_dropped = engsci.drop("ECON", axis = 1)
print(engsci_econ_dropped)
print("\n")

engsci_shah_dropped = engsci.drop("Shahriyar", axis=0)
print(engsci_shah_dropped)
print("\n")

           ECON  PHYSICS  BIOLOGY  SOCIOLOGY  ELECTROMAGNETISM  STATISTICS
Tony          1        1        2          2                 3           3
Don           2        3        1          3                 1           2
Shahriyar     3        2        3          1                 2           1


           PHYSICS  BIOLOGY  SOCIOLOGY  ELECTROMAGNETISM  STATISTICS
Tony             1        2          2                 3           3
Don              3        1          3                 1           2
Shahriyar        2        3          1                 2           1


      ECON  PHYSICS  BIOLOGY  SOCIOLOGY  ELECTROMAGNETISM  STATISTICS
Tony     1        1        2          2                 3           3
Don      2        3        1          3                 1           2