In [2]:
import pandas as pd

In [6]:
dic = {"name":"tony", "age":19, "sex":"male"}
pd.Series(dic)["age"]

int

In [11]:
dic = ["tony", "harry", 22, 584696, "hi"]
pd.Series(dic)

0      tony
1     harry
2        22
3    584696
4        hi
dtype: object

In [21]:
pd.Series(dic, index = ["name", "name", "age", "ID", "hi"])[3]

584696